In [25]:
f = open("general/Patients.csv",'r')
a = f.readlines()

In [26]:
for i in a[1:]:
    i = i.strip()
    l = i.split(";")
    print l[0]

1031137228
1234567
1234
12345
4321

In [27]:
a

['Id;Name;Gender;Age;Height;Weight;Crotch;Disease\n',
 '1031137228;jonathancasas;F;26;170;70;80;cvd\n',
 '1234567;diego;F;24;10;20;30;bdh\n',
 '1234;diego;F;24;1;1;1;jj\n',
 '12345;lina;F;1;1;1;1;as\n',
 '4321;alfonso;F;1;1;1;3;dn\n']

In [28]:
L = []
for i in a[1:]:
    L.append(i.strip().split(";"))
    print L

[['1031137228', 'jonathancasas', 'F', '26', '170', '70', '80', 'cvd']]
[['1031137228', 'jonathancasas', 'F', '26', '170', '70', '80', 'cvd'], ['1234567', 'diego', 'F', '24', '10', '20', '30', 'bdh']]
[['1031137228', 'jonathancasas', 'F', '26', '170', '70', '80', 'cvd'], ['1234567', 'diego', 'F', '24', '10', '20', '30', 'bdh'], ['1234', 'diego', 'F', '24', '1', '1', '1', 'jj']]
[['1031137228', 'jonathancasas', 'F', '26', '170', '70', '80', 'cvd'], ['1234567', 'diego', 'F', '24', '10', '20', '30', 'bdh'], ['1234', 'diego', 'F', '24', '1', '1', '1', 'jj'], ['12345', 'lina', 'F', '1', '1', '1', '1', 'as']]
[['1031137228', 'jonathancasas', 'F', '26', '170', '70', '80', 'cvd'], ['1234567', 'diego', 'F', '24', '10', '20', '30', 'bdh'], ['1234', 'diego', 'F', '24', '1', '1', '1', 'jj'], ['12345', 'lina', 'F', '1', '1', '1', '1', 'as'], ['4321', 'alfonso', 'F', '1', '1', '1', '3', 'dn']]

In [29]:
for i in L:
    print i

['1031137228', 'jonathancasas', 'F', '26', '170', '70', '80', 'cvd']
['1234567', 'diego', 'F', '24', '10', '20', '30', 'bdh']
['1234', 'diego', 'F', '24', '1', '1', '1', 'jj']
['12345', 'lina', 'F', '1', '1', '1', '1', 'as']
['4321', 'alfonso', 'F', '1', '1', '1', '3', 'dn']

In [35]:
import os
a = os.walk("./data")

In [36]:
for i in a:
    print i

('./data', ['lina', 'alfonso', 'jonathancasas', 'diego'], [])
('./data/lina', ['2018-5-21'], ['times.csv'])
('./data/lina/2018-5-21', [], ['Events.csv', 'Sensors.csv'])
('./data/alfonso', ['2018-5-22', '2018-5-21', '2018-5-28', '2018-5-31'], ['times.csv'])
('./data/alfonso/2018-5-22', [], ['Events.csv', 'Sensors.csv'])
('./data/alfonso/2018-5-21', [], ['Events.csv', 'Sensors.csv'])
('./data/alfonso/2018-5-28', [], ['Events.csv', 'Sensors.csv'])
('./data/alfonso/2018-5-31', [], ['Events.csv', 'Sensors.csv'])
('./data/jonathancasas', ['2018-5-19', '2018-5-22', '2018-5-21', '2018-5-28', '2018-5-15', '2018-5-17'], ['times.csv'])
('./data/jonathancasas/2018-5-19', [], ['Events.csv', 'Sensors.csv'])
('./data/jonathancasas/2018-5-22', [], ['Events.csv', 'Sensors.csv'])
('./data/jonathancasas/2018-5-21', [], ['Events.csv', 'Sensors.csv'])
('./data/jonathancasas/2018-5-28', [], ['Events.csv', 'Sensors.csv'])
('./data/jonathancasas/2018-5-15', [], ['Events.csv', 'Sensors.csv'])
('./data/jonathancasas/2018-5-17', [], ['Events.csv', 'Sensors.csv'])
('./data/diego', ['2018-5-15'], [])
('./data/diego/2018-5-15', [], ['Events.csv', 'Sensors.csv'])

In [37]:
next(os.walk('.'))[1]

['data',
 'general',
 'robot',
 '.ipynb_checkpoints',
 'recognition',
 'lib',
 'backup']

In [40]:
next(os.walk('./data'))[1]

['010324', 'lina', 'alfonso', 'jonathancasas', 'diego', '1031137228']

In [41]:
dirs = next(os.walk('./data'))[1]

In [42]:
dirs

['010324', 'lina', 'alfonso', 'jonathancasas', 'diego', '1031137228']

In [50]:
for d in dirs:
    p = './data/' + d + "/times.csv"
    print p
    if os.path.exists(p):
        f = open(p , "r")
        a= f.readlines()
        print a
        f.close()

./data/010324/times.csv
['times\n', '2018-05-31 14:29:22.648159\n', '2018-05-31 14:48:41.832972\n']
./data/lina/times.csv
['2018-05-21 15:24:13.645427\n', '2018-05-21 15:25:32.230357\n']
./data/alfonso/times.csv
['times\n', '2018-05-21 15:27:57.466198\n', '2018-05-21 15:30:07.720814\n', '2018-05-21 16:20:27.711658\n', '2018-05-21 16:45:26.186830\n', '2018-05-21 16:50:02.190193\n', '2018-05-22 11:41:39.546835\n', '2018-05-22 11:47:02.246992\n', '2018-05-28 09:58:09.403106\n', '2018-05-28 10:22:11.158225\n', '2018-05-28 10:54:09.715249\n', '2018-05-28 10:58:51.042807\n', '2018-05-28 14:03:30.700259\n', '2018-05-28 14:08:19.826304\n', '2018-05-28 15:58:18.766795\n', '2018-05-28 16:04:40.754016\n', '2018-05-28 16:06:48.589536\n', '2018-05-28 17:21:17.384814\n', '2018-05-28 17:29:20.786955\n', '2018-05-31 12:18:54.365233\n']
./data/jonathancasas/times.csv
['2018-05-21 16:04:20.400561\n', '2018-05-22 11:52:06.555792\n', '2018-05-28 10:27:01.402249\n', '2018-05-28 16:08:15.542891\n', '2018-05-28 17:26:15.353385\n', '2018-05-28 17:31:29.070662\n']
./data/diego/times.csv
./data/1031137228/times.csv

In [95]:
import datetime
def load_user_times(p):
        #get user path
        #path = self.PH.paths['current_user']
        path = p + "/times.csv"
        if os.path.exists(path):
            #open time files
            f = open(path,'r')
            #read times
            p = f.readlines()
            #eliminate "\n" character
            l = [i.strip() for i in p]
            print l
            #remove header
            times = l[1:]
            #convert to datetime format
            print times
            t = [datetime.datetime.strptime(i,'%Y-%m-%d %H:%M:%S.%f') for i in times]
            #return list of time attendance
            return t

In [96]:
def get_all_times():

        Times = {}

        dirs = next(os.walk('./data/'))[1]

        for d in dirs:
            path = './data/' + d 
            l = load_user_times(p = path)
            Times[d] = l

        return Times

In [97]:
t = get_all_times()

['times', '2018-05-31 14:29:22.648159', '2018-05-31 14:48:41.832972']
['2018-05-31 14:29:22.648159', '2018-05-31 14:48:41.832972']
['2018-05-21 15:24:13.645427', '2018-05-21 15:25:32.230357']
['2018-05-21 15:25:32.230357']
['times', '2018-05-21 15:27:57.466198', '2018-05-21 15:30:07.720814', '2018-05-21 16:20:27.711658', '2018-05-21 16:45:26.186830', '2018-05-21 16:50:02.190193', '2018-05-22 11:41:39.546835', '2018-05-22 11:47:02.246992', '2018-05-28 09:58:09.403106', '2018-05-28 10:22:11.158225', '2018-05-28 10:54:09.715249', '2018-05-28 10:58:51.042807', '2018-05-28 14:03:30.700259', '2018-05-28 14:08:19.826304', '2018-05-28 15:58:18.766795', '2018-05-28 16:04:40.754016', '2018-05-28 16:06:48.589536', '2018-05-28 17:21:17.384814', '2018-05-28 17:29:20.786955', '2018-05-31 12:18:54.365233']
['2018-05-21 15:27:57.466198', '2018-05-21 15:30:07.720814', '2018-05-21 16:20:27.711658', '2018-05-21 16:45:26.186830', '2018-05-21 16:50:02.190193', '2018-05-22 11:41:39.546835', '2018-05-22 11:47:02.246992', '2018-05-28 09:58:09.403106', '2018-05-28 10:22:11.158225', '2018-05-28 10:54:09.715249', '2018-05-28 10:58:51.042807', '2018-05-28 14:03:30.700259', '2018-05-28 14:08:19.826304', '2018-05-28 15:58:18.766795', '2018-05-28 16:04:40.754016', '2018-05-28 16:06:48.589536', '2018-05-28 17:21:17.384814', '2018-05-28 17:29:20.786955', '2018-05-31 12:18:54.365233']
['2018-05-21 16:04:20.400561', '2018-05-22 11:52:06.555792', '2018-05-28 10:27:01.402249', '2018-05-28 16:08:15.542891', '2018-05-28 17:26:15.353385', '2018-05-28 17:31:29.070662']
['2018-05-22 11:52:06.555792', '2018-05-28 10:27:01.402249', '2018-05-28 16:08:15.542891', '2018-05-28 17:26:15.353385', '2018-05-28 17:31:29.070662']

In [98]:
t

{'010324': [datetime.datetime(2018, 5, 31, 14, 29, 22, 648159),
  datetime.datetime(2018, 5, 31, 14, 48, 41, 832972)],
 '1031137228': None,
 'alfonso': [datetime.datetime(2018, 5, 21, 15, 27, 57, 466198),
  datetime.datetime(2018, 5, 21, 15, 30, 7, 720814),
  datetime.datetime(2018, 5, 21, 16, 20, 27, 711658),
  datetime.datetime(2018, 5, 21, 16, 45, 26, 186830),
  datetime.datetime(2018, 5, 21, 16, 50, 2, 190193),
  datetime.datetime(2018, 5, 22, 11, 41, 39, 546835),
  datetime.datetime(2018, 5, 22, 11, 47, 2, 246992),
  datetime.datetime(2018, 5, 28, 9, 58, 9, 403106),
  datetime.datetime(2018, 5, 28, 10, 22, 11, 158225),
  datetime.datetime(2018, 5, 28, 10, 54, 9, 715249),
  datetime.datetime(2018, 5, 28, 10, 58, 51, 42807),
  datetime.datetime(2018, 5, 28, 14, 3, 30, 700259),
  datetime.datetime(2018, 5, 28, 14, 8, 19, 826304),
  datetime.datetime(2018, 5, 28, 15, 58, 18, 766795),
  datetime.datetime(2018, 5, 28, 16, 4, 40, 754016),
  datetime.datetime(2018, 5, 28, 16, 6, 48, 589536),
  datetime.datetime(2018, 5, 28, 17, 21, 17, 384814),
  datetime.datetime(2018, 5, 28, 17, 29, 20, 786955),
  datetime.datetime(2018, 5, 31, 12, 18, 54, 365233)],
 'diego': None,
 'jonathancasas': [datetime.datetime(2018, 5, 22, 11, 52, 6, 555792),
  datetime.datetime(2018, 5, 28, 10, 27, 1, 402249),
  datetime.datetime(2018, 5, 28, 16, 8, 15, 542891),
  datetime.datetime(2018, 5, 28, 17, 26, 15, 353385),
  datetime.datetime(2018, 5, 28, 17, 31, 29, 70662)],
 'lina': [datetime.datetime(2018, 5, 21, 15, 25, 32, 230357)]}

In [101]:
for i in t:
    print t[i]

None
None
[datetime.datetime(2018, 5, 22, 11, 52, 6, 555792), datetime.datetime(2018, 5, 28, 10, 27, 1, 402249), datetime.datetime(2018, 5, 28, 16, 8, 15, 542891), datetime.datetime(2018, 5, 28, 17, 26, 15, 353385), datetime.datetime(2018, 5, 28, 17, 31, 29, 70662)]
[datetime.datetime(2018, 5, 21, 15, 27, 57, 466198), datetime.datetime(2018, 5, 21, 15, 30, 7, 720814), datetime.datetime(2018, 5, 21, 16, 20, 27, 711658), datetime.datetime(2018, 5, 21, 16, 45, 26, 186830), datetime.datetime(2018, 5, 21, 16, 50, 2, 190193), datetime.datetime(2018, 5, 22, 11, 41, 39, 546835), datetime.datetime(2018, 5, 22, 11, 47, 2, 246992), datetime.datetime(2018, 5, 28, 9, 58, 9, 403106), datetime.datetime(2018, 5, 28, 10, 22, 11, 158225), datetime.datetime(2018, 5, 28, 10, 54, 9, 715249), datetime.datetime(2018, 5, 28, 10, 58, 51, 42807), datetime.datetime(2018, 5, 28, 14, 3, 30, 700259), datetime.datetime(2018, 5, 28, 14, 8, 19, 826304), datetime.datetime(2018, 5, 28, 15, 58, 18, 766795), datetime.datetime(2018, 5, 28, 16, 4, 40, 754016), datetime.datetime(2018, 5, 28, 16, 6, 48, 589536), datetime.datetime(2018, 5, 28, 17, 21, 17, 384814), datetime.datetime(2018, 5, 28, 17, 29, 20, 786955), datetime.datetime(2018, 5, 31, 12, 18, 54, 365233)]
[datetime.datetime(2018, 5, 31, 14, 29, 22, 648159), datetime.datetime(2018, 5, 31, 14, 48, 41, 832972)]
[datetime.datetime(2018, 5, 21, 15, 25, 32, 230357)]

In [121]:
all_times = t
tim = []
for key in all_times:
    times_patients = [] 
    user_times = all_times[key]
    if user_times:
        times_patients = ([[i.time().strftime('%H:%M:%S'), i.isoweekday()] for i in user_times])
        
        print times_patients
        tim.append(times_patients)

[['11:52:06', 2], ['10:27:01', 1], ['16:08:15', 1], ['17:26:15', 1], ['17:31:29', 1]]
[['15:27:57', 1], ['15:30:07', 1], ['16:20:27', 1], ['16:45:26', 1], ['16:50:02', 1], ['11:41:39', 2], ['11:47:02', 2], ['09:58:09', 1], ['10:22:11', 1], ['10:54:09', 1], ['10:58:51', 1], ['14:03:30', 1], ['14:08:19', 1], ['15:58:18', 1], ['16:04:40', 1], ['16:06:48', 1], ['17:21:17', 1], ['17:29:20', 1], ['12:18:54', 4]]
[['14:29:22', 4], ['14:48:41', 4]]
[['15:25:32', 1]]

In [122]:
for i in tim:
    print i

[['11:52:06', 2], ['10:27:01', 1], ['16:08:15', 1], ['17:26:15', 1], ['17:31:29', 1]]
[['15:27:57', 1], ['15:30:07', 1], ['16:20:27', 1], ['16:45:26', 1], ['16:50:02', 1], ['11:41:39', 2], ['11:47:02', 2], ['09:58:09', 1], ['10:22:11', 1], ['10:54:09', 1], ['10:58:51', 1], ['14:03:30', 1], ['14:08:19', 1], ['15:58:18', 1], ['16:04:40', 1], ['16:06:48', 1], ['17:21:17', 1], ['17:29:20', 1], ['12:18:54', 4]]
[['14:29:22', 4], ['14:48:41', 4]]
[['15:25:32', 1]]

In [123]:
len(tim[3])

1

In [124]:
tim[0][0]

['11:52:06', 2]